.dv-groupview {
    display: flex;
    height: 100%;
    background-color: var(--dv-group-view-background-color);
    overflow: hidden;

    &:focus {
        outline: none;
    }

    &.dv-tabs-horizontal {
        flex-direction: column;
    }

    &.dv-tabs-vertical {
        flex-direction: row;
    }

    > .dv-content-container {
        flex-grow: 1;
        min-height: 0;
        outline: none;
    }
}
